# https://editorconfig.org

root = true

[*]
end_of_line = lf
charset = utf-8
max_line_length = 80
indent_style = space
indent_size = 4
insert_final_newline = true
trim_trailing_whitespace = true

[*.html]
indent_size = 2
max_line_length = off

[*.py]
profile = black
max_line_length = 79

[*.yml]
indent_size = 2
max_line_length = off

[*.sh]
indent_style = space
indent_size = 2

[.bashrc]
indent_style = space
indent_size = 2

[*.json]
indent_style = space
indent_size = 2

[*.js]
indent_style = space
indent_size = 2

[*.md]
indent_style = space
indent_size = 2
